.bgColor {
  background-color: #282c34 !important;
}

.text-white {
  color: white !important;
}

.navBtn {
  margin: 0.3rem !important;
  color: white !important;
  display: block !important;
  font-size: 16px !important;
  letter-spacing: 1.5px !important;
  padding: 0.4rem 1.1rem !important;
  font-weight: 500;
}

.navBtn:hover {
  color: white;
}

.title {
  color: white !important;
}

.wrapper {
  position: relative;
  width: 30.5%;
}

.hoverImg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverBtn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper:hover .hoverImg {
  opacity: 0.1;
}

.wrapper:hover .hoverBtn {
  opacity: 1;
}

.cardHover:hover {
  cursor: pointer;
}