@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
  margin: 0;
  font-family: 'Macondo', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34 !important;
  color: #fff;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent !important; 
}

::-webkit-scrollbar-thumb {
  background: transparent !important; 
}